
.idea

notomoji/hash_step5_type_all_emojis.pickle
notomoji/hash_step10_type_all_emojis.pickle
notomoji/hash_step20_type_all_emojis.pickle

twemoji/hash_step5_type_all_emojis.pickle
twemoji/hash_step10_type_all_emojis.pickle
twemoji/hash_step20_type_all_emojis.pickle
